.subscribers-list__item {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 12px;
  width: 244px;
  height: 48px;
  align-items: center;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.subscriber-avatar {
  max-width: 32px;
  max-height: 32px;
}
