:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
  align-items: center;
  width: 1112px;
  margin: 0 auto;

  h1 {
    font-size: 60px;
    margin-bottom: 60px;
  }
}


.login-form {
  width: 440px;
  &__enter-button {
    width: 100%;
  }
}

.primary-label {
  div {
    display: flex;
  }
  input {
    min-width: 100%;
  }
}

.input-btn {
  cursor: pointer;
  position: relative;
  z-index: 2;
  right: 30px;
  background: none;
  color: #fff;
  border: none;
  svg {
    path {
      fill: var(--light-color);
    }
  }
}

.input-btn.active {
  svg {
    path {
      fill: var(--primary-color);
    }
  }
}
